@page "/Homepage"
@using Dating_App.Data
@inject NavigationManager navigateManager
@inject SessionState State


<h3 style="text-align: center; font-size: 25px; font-weight: bold; padding-bottom: 30px">Login</h3>

<div class="flex-column" style="display: flex; justify-content: center; align-items: center;">

		
</div>

@code {

}