@page "/Homepage"

<h3 style="text-align: center; font-size: 25px; font-weight: bold; padding-bottom: 30px">Login</h3>

<div class="flex-column" style="display: flex; justify-content: center; align-items: center;">

		<p>Hej!</p>
</div>

@code {

}