@page "/"
@using System.Data.SqlClient
@using System.Data
@using System.Data.Sql
@using Dating_App.Data
@inject NavigationManager navigateManager
@inject SessionState State
@inject Account account
@layout LoginLayout

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="https://www.clipartmax.com/png/full/71-718854_kissing-clipart-fish-cartoon-fish-in-love.png"
                                         style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">We are The Single Fishers</h4>

                                </div>

                                <form>
                                    <div class="form-outline mb-4">
                                        <p>Please login to your account</p>

                                        <div class="form-outline mb-4">

                                            <input @bind-value="account.Username" type="text" id="form2Example11" class="form-control"
                                                   placeholder="Username" />
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input @bind-value="account.Password" type="password" id="form2Example22" class="form-control" placeholder="Password" />
                                        </div>

                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button @onclick=submitMethod class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">
                                                Log
                                                in
                                            </button>
                                            <a class="text-muted" href="#!">Forgot password?</a>
                                        </div>

                                        <div class="d-flex align-items-center justify-content-center pb-4">
                                            <p class="mb-0 me-2">Don't have an account?</p>

                                            <NavLink class="nav-link" href="register">
                                                <button type="button" class="btn btn-outline-danger">Register</button>
                                            </NavLink>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">We are more than just a dating site</h4>
                                <p class="small mb-0">We aim to be the best place for fishermen and -women can find the perfect match. We have more than 5 million happy fishers!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
        /* void SomeStartupMethod()
        {
        if (State.isLoggedIn)
            {
            navigateManager.NavigateTo("/Homepage");
    }
    }

    protected override async Task OnInitializedAsync()
        {
        SomeStartupMethod();
    }*/


    public void submitMethod()
    {

        SqlConnection con = new SqlConnection(@"Data Source=DESKTOP-2B7RBNS\SQLEXPRESS;Initial Catalog=DatingDB;Integrated Security=True");
        if (con.State == ConnectionState.Closed)
        {

            // Opens the SQL connection
            con.Open();

            //string query = "SELECT COUNT(*) FROM account WHERE username=@Username AND password=@Password";
            string query = "SELECT Account.AccountID, Account.Email, Account.Username, Account.Password, Profile.AccountID, Profile.Firstname, Profile.Area, Profile.Age, Profile.Gender, Profile.Height, Profile.Weight, Profile.DELETED FROM Account INNER JOIN Profile ON Profile.AccountID=Account.AccountID WHERE Username=@Username AND password=@Password;";

            using (SqlCommand sqlCmd = new SqlCommand(query, con))
            {



                sqlCmd.CommandType = System.Data.CommandType.Text;
                sqlCmd.Parameters.AddWithValue("@Username", account.Username);
                sqlCmd.Parameters.AddWithValue("@Password", account.Password);
                //int count = Convert.ToInt32(sqlCmd.ExecuteScalar());



                // State.Id = reader.(GetInt32(reader.GetOrdinal(@"AccountID")));

                using ( var reader = sqlCmd.ExecuteReader() )
                {
                    if(reader.Read())
                    {

                        State.Id = reader.GetInt32( reader.GetOrdinal( "AccountID" ) );
                        State.Username = reader.GetString( reader.GetOrdinal( "Username" ) );
                        State.Password = reader.GetString( reader.GetOrdinal( "Password" ) );
                        State.Email = reader.GetString( reader.GetOrdinal( "Email" ) );
                        State.Firstname = reader.GetString( reader.GetOrdinal( "Firstname" ) );
                        State.City = reader.GetString( reader.GetOrdinal( "Area" ) );
                        State.Age = reader.GetDateTime( reader.GetOrdinal( "Age" ) );
                        State.Gender = reader.GetString( reader.GetOrdinal( "Gender" ) );
                        State.Height = reader.GetInt32( reader.GetOrdinal( "Height" ) );
                        State.Weight = reader.GetInt32( reader.GetOrdinal( "Weight" ) );
                        State.isDeleted = reader.GetByte( reader.GetOrdinal( "DELETED" ) );


                        State.isLoggedIn = true;
                        navigateManager.NavigateTo("homepage");
                    }
             
            }

            //int StateID = reader.GetOrdinal("AccountID");
            //int StateEmail = reader.GetOrdinal("Email");
            //int StateFirstname = reader.GetOrdinal("Firstname");
            //int StateCity = reader.GetOrdinal("Area");
            //int StateAge = reader.GetOrdinal("Age");
            //int StateGender = reader.GetOrdinal("Gender");
            //int StateHeight = reader.GetOrdinal("Height");
            //int StateWeight = reader.GetOrdinal("Weight");
            //int StateisDeleted = reader.GetOrdinal("DELETED");

            //State.Id = reader.GetInt32(StateID);
            //State.Email = reader.GetString(StateEmail);
            //State.Firstname = reader.GetString(StateFirstname);
            //State.City = reader.GetString(StateCity);
            //State.Age = reader.GetDateTime(StateAge);
            //State.Gender = reader.GetChar(StateGender);
            //State.Height = reader.GetString(StateHeight);
            //State.Weight = reader.GetString(StateWeight);
            //State.isDeleted = reader.GetInt32(StateisDeleted);

           
            
            /* int login = (int)sqlCmd.ExecuteScalar();
            if (login == 1)
            {
              
                State.isLoggedIn = true;
                navigateManager.NavigateTo("homepage");
            }
            else
            {
                navigateManager.NavigateTo("error");
            } */
            };
            
        }
    }
}

<style>
    .gradient-custom-2 {
        /* fallback for old browsers */
        background: #fccb90;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }

    #media (min-width: 768px) {
        .gradient-form
    }


    {
        height: 100vh !important;
    }

    }

    #media (min-width: 769px) {
        .gradient-custom-2
    }

    {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }

    }
</style>
