@page "/"
@using System.Data.SqlClient
@using System.Data
@using System.Data.Sql
@inject NavigationManager navigateManager



<h3 style="text-align: center; font-size: 25px; font-weight: bold; padding-bottom: 30px">Login</h3>

<div class="flex-column" style="display: flex; justify-content: center; align-items: center;">

		<label style="font-size: 20px; padding-bottom: 10px; margin-right: 25%">Username:</label>
		<p style="padding-bottom: 10px">
		<input type="text" style="width: 400px" placeholder="Username..." @bind-value="inputUser" />
		</p>

		<label style="font-size: 20px; padding-bottom: 10px; margin-right: 25%">Password:</label>
		<p style="padding-bottom: 30px">
		<input type="password" style="width: 400px" placeholder="Password..." @bind-value="inputPass" />
		</p>

	<button @onclick="submitMethod">Login</button>

</div>

@code {

	private string inputUser;
	private string inputPass;

	private void submitMethod()
	{	
		SqlConnection con = new SqlConnection(@"Data Source=DESKTOP-2B7RBNS\SQLEXPRESS;Initial Catalog=DatingDB;Integrated Security=True");  
			if (con.State == ConnectionState.Closed)
			{
				con.Open();
			}

			SqlCommand cmd = new SqlCommand("SELECT COUNT(*) FROM account WHERE username='"+ inputUser +"' AND password='"+ inputPass +"'",con);

			SqlDataReader dr = cmd.ExecuteReader();
			if (dr.HasRows)	
			{
				navigateManager.NavigateTo("homepage");
			}  
			else  
			{ 
				navigateManager.NavigateTo("error");
			}
	}  
}