@page "/"
@using System.Data.SqlClient
@using System.Data
@using System.Data.Sql
@inject NavigationManager navigateManager
@layout LoginLayout

<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://www.clipartmax.com/png/full/71-718854_kissing-clipart-fish-cartoon-fish-in-love.png"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Fishers Single</h4>
                </div>

                <form>
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example11" class="form-control "placeholder="Username..." @bind-value="inputUser" />
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example22" class="form-control" placeholder="Password..." @bind-value="inputPass" />
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" @onclick="submitMethod">Login</button>
                    <a class="text-muted" href="#!">Forgot password?</a>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button type="button" class="btn btn-outline-danger" >Create</button>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@code {
	string inputUser;
	string inputPass;

	private void submitMethod()
	{	
		SqlConnection con = new SqlConnection(@"Data Source=DESKTOP-2B7RBNS\SQLEXPRESS;Initial Catalog=DatingDB;Integrated Security=True");  
		if (con.State == ConnectionState.Closed)
		{
			// Opens the SQL connection
			con.Open();

			string query = "SELECT COUNT(*) FROM account WHERE username=@Username AND password=@Password";

			SqlCommand sqlCmd = new SqlCommand(query, con);
			sqlCmd.CommandType = System.Data.CommandType.Text;
			sqlCmd.Parameters.AddWithValue("@Username", inputUser);
			sqlCmd.Parameters.AddWithValue("@Password", inputPass);
			int count = Convert.ToInt32(sqlCmd.ExecuteScalar());
					
			int login = (int)sqlCmd.ExecuteScalar();
			if (login == 1)
			{
				navigateManager.NavigateTo("homepage");
			}
			else
			{
				navigateManager.NavigateTo("error");
			}
		}
	}  
}
